In [1]:
import pandas as pd

In [2]:
import flask

In [7]:
from flask import Flask

In [10]:
import psycopg2

In [8]:
from flask_sqlalchemy import SQLAlchemy

In [22]:
import pickle

In [13]:
import matplotlib.pyplot as mpl

In [20]:
# conn = psycopg2.connect("dbname='abcDB',user='postgres',host='localhost',password='0000'")
conn = psycopg2.connect('postgresql://postgres:0000@127.0.0.1:5432/abcDB')

In [30]:
stats = pd.read_sql_query("select extract(month from s.created_at) as months,sum(case when extract(year from s.created_at) = 2017 then i.selling_price*s.quantity else 0 end) as Sales2017,sum(case when extract(year from s.created_at) = 2018 then i.selling_price*s.quantity else 0 end) as Sales2018,sum(case when extract(year from s.created_at) = 2019 then i.selling_price*s.quantity else 0 end) as Sales2019 from sales as s join inventories as i on s.inv_id=i.id group by extract(month from s.created_at) order BY extract(month from s.created_at)",conn);

In [31]:
stats

   months  sales2017  sales2018  sales2019
0    12.0          0          0    7051230

In [28]:
import sklearn

In [29]:
from sklearn.linear_model import LinearRegression

In [ ]:
from sklearn.

In [38]:
satas2 = stats.set_index("months")

In [33]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
months       1 non-null float64
sales2017    1 non-null int64
sales2018    1 non-null int64
sales2019    1 non-null int64
dtypes: float64(1), int64(3)
memory usage: 112.0 bytes

In [34]:
stats.describe()

       months  sales2017  sales2018  sales2019
count     1.0        1.0        1.0        1.0
mean     12.0        0.0        0.0  7051230.0
std       NaN        NaN        NaN        NaN
min      12.0        0.0        0.0  7051230.0
25%      12.0        0.0        0.0  7051230.0
50%      12.0        0.0        0.0  7051230.0
75%      12.0        0.0        0.0  7051230.0
max      12.0        0.0        0.0  7051230.0