In [24]:
import pandas as pd

In [25]:
import flask

In [26]:
from flask import Flask

In [27]:
import psycopg2

In [28]:
from flask_sqlalchemy import SQLAlchemy

In [29]:
import pickle

In [30]:
import matplotlib.pyplot as mpl

In [31]:
# conn = psycopg2.connect("dbname='abcDB',user='postgres',host='localhost',password='0000'")
conn = psycopg2.connect('postgresql://postgres:0000@127.0.0.1:5432/abcDB')

In [32]:
stats = pd.read_sql_query("select extract(month from created_at),sum(case when extract(year from created_at) = 2009 then i.selling_price*s.quantity end) as sales2009,sum(case when extract(year from created_at) = 2010 then i.selling_price*s.quantity end) as sales2010,sum(case when extract(year from created_at) = 2011 then i.selling_price*s.quantity end) as sales2011,sum(case when extract(year from created_at) = 2012 then i.selling_price*s.quantity end) as sales2012,sum(case when extract(year from created_at) = 2013 then i.selling_price*s.quantity end) as sales2013,sum(case when extract(year from created_at) = 2014 then i.selling_price*s.quantity end) as sales2014,sum(case when extract(year from created_at) = 2015 then i.selling_price*s.quantity end) as sales2015,sum(case when extract(year from created_at) = 2016 then i.selling_price*s.quantity end) as sales2016,sum(case when extract(year from created_at) = 2017 then i.selling_price*s.quantity end) as sales2017,sum(case when extract(year from created_at) = 2018 then i.selling_price*s.quantity end) as sales2018,sum(case when extract(year from created_at) = 2019 then i.selling_price*s.quantity end) as sales2019 from sales s join inventories as i on s.inv_id = i.id group by extract(month from created_at),extract(year from created_at) order BY extract(month from created_at),extract(year from created_at)",conn);

In [33]:
stats

,date_part,sales2009,sales2010,sales2011,sales2012,sales2013,sales2014,sales2015,sales2016,sales2017,sales2018,sales2019
0,1.0,NaN,5606.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,NaN,NaN,6303.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,7956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,NaN,NaN,4132.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,NaN,NaN,NaN,4962.0,NaN,NaN,NaN,NaN,NaN
5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,8118.0,NaN,NaN,NaN,NaN
6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3071.0,NaN,NaN,NaN
7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4245.0,NaN,NaN
8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7056.0,NaN
9,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5244.0
10,2.0,NaN,2423.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2.0,NaN,NaN,2137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2.0,NaN,NaN,NaN,9414.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2.0,NaN,NaN,NaN,NaN,5783.0,NaN,NaN,NaN,NaN,NaN,NaN
14,2.0,NaN,NaN,NaN,NaN,NaN,8540.0,NaN,NaN,NaN,NaN,NaN
15,2.0,NaN,NaN,NaN,NaN,NaN,NaN,6910.0,NaN,NaN,NaN,NaN
16,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3362.0,NaN,NaN,NaN
17,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4208.0,NaN,NaN
18,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6086.0,NaN
19,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5755.0
20,3.0,NaN,8390.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,3.0,NaN,NaN,5769.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3.0,NaN,NaN,NaN,9362.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,3.0,NaN,NaN,NaN,NaN,5734.0,NaN,NaN,NaN,NaN,NaN,NaN
24,3.0,NaN,NaN,NaN,NaN,NaN,6124.0,NaN,NaN,NaN,NaN,NaN
25,3.0,NaN,NaN,NaN,NaN,NaN,NaN,7321.0,NaN,NaN,NaN,NaN
26,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7137.0,NaN,NaN,NaN
27,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6039.0,NaN,NaN
28,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6571.0,NaN
29,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8656.0
...,...,...,...,...,...,...,...,...,...,...,...,...
92,10.0,NaN,NaN,NaN,6263.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,10.0,NaN,NaN,NaN,NaN,1390.0,NaN,NaN,NaN,NaN,NaN,NaN
94,10.0,NaN,NaN,NaN,NaN,NaN,6245.0,NaN,NaN,NaN,NaN,NaN
95,10.0,NaN,NaN,NaN,NaN,NaN,NaN,5364.0,NaN,NaN,NaN,NaN
96,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4822.0,NaN,NaN,NaN
97,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3708.0,NaN,NaN
98,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6025.0,NaN
99,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7378.0
100,11.0,5421.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,11.0,NaN,4633.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,11.0,NaN,NaN,5543.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,11.0,NaN,NaN,NaN,2212.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,11.0,NaN,NaN,NaN,NaN,7666.0,NaN,NaN,NaN,NaN,NaN,NaN
105,11.0,NaN,NaN,NaN,NaN,NaN,6478.0,NaN,NaN,NaN,NaN,NaN
106,11.0,NaN,NaN,NaN,NaN,NaN,NaN,1844.0,NaN,NaN,NaN,NaN
107,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2795.0,NaN,NaN,NaN
108,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4384.0,NaN,NaN
109,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2268.0,NaN
110,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7884.0
111,12.0,5935.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,12.0,NaN,14142.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,12.0,NaN,NaN,7488.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,12.0,NaN,NaN,NaN,7848.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,12.0,NaN,NaN,NaN,NaN,1212.0,NaN,NaN,NaN,NaN,NaN,NaN
116,12.0,NaN,NaN,NaN,NaN,NaN,6886.0,NaN,NaN,NaN,NaN,NaN
117,12.0,NaN,NaN,NaN,NaN,NaN,NaN,8257.0,NaN,NaN,NaN,NaN
118,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4391.0,NaN,NaN,NaN
119,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5051.0,NaN,NaN
120,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4823.0,NaN
121,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5575.0

In [34]:
import sklearn

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
from matplotlib import pyplot as plt

In [38]:
stats2 = stats.set_index("date_part")

In [39]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 12 columns):
date_part    122 non-null float64
sales2009    2 non-null float64
sales2010    12 non-null float64
sales2011    12 non-null float64
sales2012    12 non-null float64
sales2013    12 non-null float64
sales2014    12 non-null float64
sales2015    12 non-null float64
sales2016    12 non-null float64
sales2017    12 non-null float64
sales2018    12 non-null float64
sales2019    12 non-null float64
dtypes: float64(12)
memory usage: 11.5 KB

In [40]:
stats.describe()

,date_part,sales2009,sales2010,sales2011,sales2012,sales2013,sales2014,sales2015,sales2016,sales2017,sales2018,sales2019
count,122.000000,2.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,6.581967,5678.000000,5998.000000,4905.666667,6469.666667,5026.500000,5514.416667,5408.750000,6709.333333,4926.000000,5392.833333,5848.250000
std,3.496965,363.452886,3073.013091,2634.855260,2396.631626,2260.600664,1488.684255,1991.599683,5152.261892,1020.439299,1675.788869,2578.830465
min,1.000000,5421.000000,2423.000000,940.000000,2140.000000,1212.000000,3343.000000,1844.000000,1338.000000,3141.000000,2268.000000,1716.000000
25%,4.000000,5549.500000,4566.750000,2553.250000,5816.750000,4150.000000,4710.750000,4445.750000,3289.250000,4235.750000,4636.000000,4559.250000
50%,7.000000,5678.000000,5285.000000,5656.000000,6828.500000,5116.000000,5534.000000,5188.000000,4906.000000,4992.000000,5652.500000,6199.000000
75%,10.000000,5806.500000,6925.750000,6870.750000,7875.000000,6106.750000,6303.250000,7012.750000,7381.250000,5903.250000,6617.250000,7504.500000
max,12.000000,5935.000000,14142.000000,8675.000000,9414.000000,8753.000000,8540.000000,8257.000000,18453.000000,6319.000000,7865.000000,9707.000000

In [41]:
dataset= stats.copy

In [42]:
dataset

<bound method NDFrame.copy of      date_part  sales2009  sales2010  sales2011  sales2012  sales2013  \
0          1.0        NaN     5606.0        NaN        NaN        NaN
1          1.0        NaN        NaN     6303.0        NaN        NaN
2          1.0        NaN        NaN        NaN     7956.0        NaN
3          1.0        NaN        NaN        NaN        NaN     4132.0
4          1.0        NaN        NaN        NaN        NaN        NaN
5          1.0        NaN        NaN        NaN        NaN        NaN
6          1.0        NaN        NaN        NaN        NaN        NaN
7          1.0        NaN        NaN        NaN        NaN        NaN
8          1.0        NaN        NaN        NaN        NaN        NaN
9          1.0        NaN        NaN        NaN        NaN        NaN
10         2.0        NaN     2423.0        NaN        NaN        NaN
11         2.0        NaN        NaN     2137.0        NaN        NaN
12         2.0        NaN        NaN        NaN     9414.0        NaN
13         2.0        NaN        NaN        NaN        NaN     5783.0
14         2.0        NaN        NaN        NaN        NaN        NaN
15         2.0        NaN        NaN        NaN        NaN        NaN
16         2.0        NaN        NaN        NaN        NaN        NaN
17         2.0        NaN        NaN        NaN        NaN        NaN
18         2.0        NaN        NaN        NaN        NaN        NaN
19         2.0        NaN        NaN        NaN        NaN        NaN
20         3.0        NaN     8390.0        NaN        NaN        NaN
21         3.0        NaN        NaN     5769.0        NaN        NaN
22         3.0        NaN        NaN        NaN     9362.0        NaN
23         3.0        NaN        NaN        NaN        NaN     5734.0
24         3.0        NaN        NaN        NaN        NaN        NaN
25         3.0        NaN        NaN        NaN        NaN        NaN
26         3.0        NaN        NaN        NaN        NaN        NaN
27         3.0        NaN        NaN        NaN        NaN        NaN
28         3.0        NaN        NaN        NaN        NaN        NaN
29         3.0        NaN        NaN        NaN        NaN        NaN
..         ...        ...        ...        ...        ...        ...
92        10.0        NaN        NaN        NaN     6263.0        NaN
93        10.0        NaN        NaN        NaN        NaN     1390.0
94        10.0        NaN        NaN        NaN        NaN        NaN
95        10.0        NaN        NaN        NaN        NaN        NaN
96        10.0        NaN        NaN        NaN        NaN        NaN
97        10.0        NaN        NaN        NaN        NaN        NaN
98        10.0        NaN        NaN        NaN        NaN        NaN
99        10.0        NaN        NaN        NaN        NaN        NaN
100       11.0     5421.0        NaN        NaN        NaN        NaN
101       11.0        NaN     4633.0        NaN        NaN        NaN
102       11.0        NaN        NaN     5543.0        NaN        NaN
103       11.0        NaN        NaN        NaN     2212.0        NaN
104       11.0        NaN        NaN        NaN        NaN     7666.0
105       11.0        NaN        NaN        NaN        NaN        NaN
106       11.0        NaN        NaN        NaN        NaN        NaN
107       11.0        NaN        NaN        NaN        NaN        NaN
108       11.0        NaN        NaN        NaN        NaN        NaN
109       11.0        NaN        NaN        NaN        NaN        NaN
110       11.0        NaN        NaN        NaN        NaN        NaN
111       12.0     5935.0        NaN        NaN        NaN        NaN
112       12.0        NaN    14142.0        NaN        NaN        NaN
113       12.0        NaN        NaN     7488.0        NaN        NaN
114       12.0        NaN        NaN        NaN     7848.0        NaN
115       12.0        NaN        NaN        NaN        NaN     1212.0
116       12.0        NaN        NaN        NaN        NaN        NaN
117       12.0        NaN        NaN        NaN        NaN        NaN
118       12.0        NaN        NaN        NaN        NaN        NaN
119       12.0        NaN        NaN        NaN        NaN        NaN
120       12.0        NaN        NaN        NaN        NaN        NaN
121       12.0        NaN        NaN        NaN        NaN        NaN

     sales2014  sales2015  sales2016  sales2017  sales2018  sales2019
0          NaN        NaN        NaN        NaN        NaN        NaN
1          NaN        NaN        NaN        NaN        NaN        NaN
2          NaN        NaN        NaN        NaN        NaN        NaN
3          NaN        NaN        NaN        NaN        NaN        NaN
4       4962.0        NaN        NaN        NaN        NaN        NaN
5          NaN     8118.0        NaN        NaN        NaN        NaN
6          NaN        NaN     3071.0        NaN        NaN        NaN
7          NaN        NaN        NaN     4245.0        NaN        NaN
8          NaN        NaN        NaN        NaN     7056.0        NaN
9          NaN        NaN        NaN        NaN        NaN     5244.0
10         NaN        NaN        NaN        NaN        NaN        NaN
11         NaN        NaN        NaN        NaN        NaN        NaN
12         NaN        NaN        NaN        NaN        NaN        NaN
13         NaN        NaN        NaN        NaN        NaN        NaN
14      8540.0        NaN        NaN        NaN        NaN        NaN
15         NaN     6910.0        NaN        NaN        NaN        NaN
16         NaN        NaN     3362.0        NaN        NaN        NaN
17         NaN        NaN        NaN     4208.0        NaN        NaN
18         NaN        NaN        NaN        NaN     6086.0        NaN
19         NaN        NaN        NaN        NaN        NaN     5755.0
20         NaN        NaN        NaN        NaN        NaN        NaN
21         NaN        NaN        NaN        NaN        NaN        NaN
22         NaN        NaN        NaN        NaN        NaN        NaN
23         NaN        NaN        NaN        NaN        NaN        NaN
24      6124.0        NaN        NaN        NaN        NaN        NaN
25         NaN     7321.0        NaN        NaN        NaN        NaN
26         NaN        NaN     7137.0        NaN        NaN        NaN
27         NaN        NaN        NaN     6039.0        NaN        NaN
28         NaN        NaN        NaN        NaN     6571.0        NaN
29         NaN        NaN        NaN        NaN        NaN     8656.0
..         ...        ...        ...        ...        ...        ...
92         NaN        NaN        NaN        NaN        NaN        NaN
93         NaN        NaN        NaN        NaN        NaN        NaN
94      6245.0        NaN        NaN        NaN        NaN        NaN
95         NaN     5364.0        NaN        NaN        NaN        NaN
96         NaN        NaN     4822.0        NaN        NaN        NaN
97         NaN        NaN        NaN     3708.0        NaN        NaN
98         NaN        NaN        NaN        NaN     6025.0        NaN
99         NaN        NaN        NaN        NaN        NaN     7378.0
100        NaN        NaN        NaN        NaN        NaN        NaN
101        NaN        NaN        NaN        NaN        NaN        NaN
102        NaN        NaN        NaN        NaN        NaN        NaN
103        NaN        NaN        NaN        NaN        NaN        NaN
104        NaN        NaN        NaN        NaN        NaN        NaN
105     6478.0        NaN        NaN        NaN        NaN        NaN
106        NaN     1844.0        NaN        NaN        NaN        NaN
107        NaN        NaN     2795.0        NaN        NaN        NaN
108        NaN        NaN        NaN     4384.0        NaN        NaN
109        NaN        NaN        NaN        NaN     2268.0        NaN
110        NaN        NaN        NaN        NaN        NaN     7884.0
111        NaN        NaN        NaN        NaN        NaN        NaN
112        NaN        NaN        NaN        NaN        NaN        NaN
113        NaN        NaN        NaN        NaN        NaN        NaN
114        NaN        NaN        NaN        NaN        NaN        NaN
115        NaN        NaN        NaN        NaN        NaN        NaN
116     6886.0        NaN        NaN        NaN        NaN        NaN
117        NaN     8257.0        NaN        NaN        NaN        NaN
118        NaN        NaN     4391.0        NaN        NaN        NaN
119        NaN        NaN        NaN     5051.0        NaN        NaN
120        NaN        NaN        NaN        NaN     4823.0        NaN
121        NaN        NaN        NaN        NaN        NaN     5575.0

[122 rows x 12 columns]>

In [43]:
print(dataset)

<bound method NDFrame.copy of      date_part  sales2009  sales2010  sales2011  sales2012  sales2013  \
0          1.0        NaN     5606.0        NaN        NaN        NaN
1          1.0        NaN        NaN     6303.0        NaN        NaN
2          1.0        NaN        NaN        NaN     7956.0        NaN
3          1.0        NaN        NaN        NaN        NaN     4132.0
4          1.0        NaN        NaN        NaN        NaN        NaN
5          1.0        NaN        NaN        NaN        NaN        NaN
6          1.0        NaN        NaN        NaN        NaN        NaN
7          1.0        NaN        NaN        NaN        NaN        NaN
8          1.0        NaN        NaN        NaN        NaN        NaN
9          1.0        NaN        NaN        NaN        NaN        NaN
10         2.0        NaN     2423.0        NaN        NaN        NaN
11         2.0        NaN        NaN     2137.0        NaN        NaN
12         2.0        NaN        NaN        NaN     9414.0        NaN
13         2.0        NaN        NaN        NaN        NaN     5783.0
14         2.0        NaN        NaN        NaN        NaN        NaN
15         2.0        NaN        NaN        NaN        NaN        NaN
16         2.0        NaN        NaN        NaN        NaN        NaN
17         2.0        NaN        NaN        NaN        NaN        NaN
18         2.0        NaN        NaN        NaN        NaN        NaN
19         2.0        NaN        NaN        NaN        NaN        NaN
20         3.0        NaN     8390.0        NaN        NaN        NaN
21         3.0        NaN        NaN     5769.0        NaN        NaN
22         3.0        NaN        NaN        NaN     9362.0        NaN
23         3.0        NaN        NaN        NaN        NaN     5734.0
24         3.0        NaN        NaN        NaN        NaN        NaN
25         3.0        NaN        NaN        NaN        NaN        NaN
26         3.0        NaN        NaN        NaN        NaN        NaN
27         3.0        NaN        NaN        NaN        NaN        NaN
28         3.0        NaN        NaN        NaN        NaN        NaN
29         3.0        NaN        NaN        NaN        NaN        NaN
..         ...        ...        ...        ...        ...        ...
92        10.0        NaN        NaN        NaN     6263.0        NaN
93        10.0        NaN        NaN        NaN        NaN     1390.0
94        10.0        NaN        NaN        NaN        NaN        NaN
95        10.0        NaN        NaN        NaN        NaN        NaN
96        10.0        NaN        NaN        NaN        NaN        NaN
97        10.0        NaN        NaN        NaN        NaN        NaN
98        10.0        NaN        NaN        NaN        NaN        NaN
99        10.0        NaN        NaN        NaN        NaN        NaN
100       11.0     5421.0        NaN        NaN        NaN        NaN
101       11.0        NaN     4633.0        NaN        NaN        NaN
102       11.0        NaN        NaN     5543.0        NaN        NaN
103       11.0        NaN        NaN        NaN     2212.0        NaN
104       11.0        NaN        NaN        NaN        NaN     7666.0
105       11.0        NaN        NaN        NaN        NaN        NaN
106       11.0        NaN        NaN        NaN        NaN        NaN
107       11.0        NaN        NaN        NaN        NaN        NaN
108       11.0        NaN        NaN        NaN        NaN        NaN
109       11.0        NaN        NaN        NaN        NaN        NaN
110       11.0        NaN        NaN        NaN        NaN        NaN
111       12.0     5935.0        NaN        NaN        NaN        NaN
112       12.0        NaN    14142.0        NaN        NaN        NaN
113       12.0        NaN        NaN     7488.0        NaN        NaN
114       12.0        NaN        NaN        NaN     7848.0        NaN
115       12.0        NaN        NaN        NaN        NaN     1212.0
116       12.0        NaN        NaN        NaN        NaN        NaN
117       12.0        NaN        NaN        NaN        NaN        NaN
118       12.0        NaN        NaN        NaN        NaN        NaN
119       12.0        NaN        NaN        NaN        NaN        NaN
120       12.0        NaN        NaN        NaN        NaN        NaN
121       12.0        NaN        NaN        NaN        NaN        NaN

     sales2014  sales2015  sales2016  sales2017  sales2018  sales2019
0          NaN        NaN        NaN        NaN        NaN        NaN
1          NaN        NaN        NaN        NaN        NaN        NaN
2          NaN        NaN        NaN        NaN        NaN        NaN
3          NaN        NaN        NaN        NaN        NaN        NaN
4       4962.0        NaN        NaN        NaN        NaN        NaN
5          NaN     8118.0        NaN        NaN        NaN        NaN
6          NaN        NaN     3071.0        NaN        NaN        NaN
7          NaN        NaN        NaN     4245.0        NaN        NaN
8          NaN        NaN        NaN        NaN     7056.0        NaN
9          NaN        NaN        NaN        NaN        NaN     5244.0
10         NaN        NaN        NaN        NaN        NaN        NaN
11         NaN        NaN        NaN        NaN        NaN        NaN
12         NaN        NaN        NaN        NaN        NaN        NaN
13         NaN        NaN        NaN        NaN        NaN        NaN
14      8540.0        NaN        NaN        NaN        NaN        NaN
15         NaN     6910.0        NaN        NaN        NaN        NaN
16         NaN        NaN     3362.0        NaN        NaN        NaN
17         NaN        NaN        NaN     4208.0        NaN        NaN
18         NaN        NaN        NaN        NaN     6086.0        NaN
19         NaN        NaN        NaN        NaN        NaN     5755.0
20         NaN        NaN        NaN        NaN        NaN        NaN
21         NaN        NaN        NaN        NaN        NaN        NaN
22         NaN        NaN        NaN        NaN        NaN        NaN
23         NaN        NaN        NaN        NaN        NaN        NaN
24      6124.0        NaN        NaN        NaN        NaN        NaN
25         NaN     7321.0        NaN        NaN        NaN        NaN
26         NaN        NaN     7137.0        NaN        NaN        NaN
27         NaN        NaN        NaN     6039.0        NaN        NaN
28         NaN        NaN        NaN        NaN     6571.0        NaN
29         NaN        NaN        NaN        NaN        NaN     8656.0
..         ...        ...        ...        ...        ...        ...
92         NaN        NaN        NaN        NaN        NaN        NaN
93         NaN        NaN        NaN        NaN        NaN        NaN
94      6245.0        NaN        NaN        NaN        NaN        NaN
95         NaN     5364.0        NaN        NaN        NaN        NaN
96         NaN        NaN     4822.0        NaN        NaN        NaN
97         NaN        NaN        NaN     3708.0        NaN        NaN
98         NaN        NaN        NaN        NaN     6025.0        NaN
99         NaN        NaN        NaN        NaN        NaN     7378.0
100        NaN        NaN        NaN        NaN        NaN        NaN
101        NaN        NaN        NaN        NaN        NaN        NaN
102        NaN        NaN        NaN        NaN        NaN        NaN
103        NaN        NaN        NaN        NaN        NaN        NaN
104        NaN        NaN        NaN        NaN        NaN        NaN
105     6478.0        NaN        NaN        NaN        NaN        NaN
106        NaN     1844.0        NaN        NaN        NaN        NaN
107        NaN        NaN     2795.0        NaN        NaN        NaN
108        NaN        NaN        NaN     4384.0        NaN        NaN
109        NaN        NaN        NaN        NaN     2268.0        NaN
110        NaN        NaN        NaN        NaN        NaN     7884.0
111        NaN        NaN        NaN        NaN        NaN        NaN
112        NaN        NaN        NaN        NaN        NaN        NaN
113        NaN        NaN        NaN        NaN        NaN        NaN
114        NaN        NaN        NaN        NaN        NaN        NaN
115        NaN        NaN        NaN        NaN        NaN        NaN
116     6886.0        NaN        NaN        NaN        NaN        NaN
117        NaN     8257.0        NaN        NaN        NaN        NaN
118        NaN        NaN     4391.0        NaN        NaN        NaN
119        NaN        NaN        NaN     5051.0        NaN        NaN
120        NaN        NaN        NaN        NaN     4823.0        NaN
121        NaN        NaN        NaN        NaN        NaN     5575.0

[122 rows x 12 columns]>